.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .overlap-group-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1749px;
  height: 2299px;
}

.home-page .overlap-group {
  position: relative;
  width: 2127px;
  height: 2299px;
  left: -301px;
}

.home-page .rectangle {
  position: absolute;
  width: 1744px;
  height: 1131px;
  top: 0;
  left: 301px;
  background: linear-gradient(180deg, rgb(19.04, 0, 54.4) 0%, rgb(0, 16.72, 100.3) 100%);
}

.home-page .text-wrapper {
  position: absolute;
  width: 750px;
  top: 306px;
  left: 442px;
  font-family: "Inter", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .div {
  position: absolute;
  width: 1347px;
  top: 439px;
  left: 499px;
  font-family: "Inter", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .anonymously {
  position: absolute;
  width: 737px;
  top: 306px;
  left: 1166px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(0, 157.25, 255) 0%, rgb(0, 94.35, 153) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter", Helvetica;
  font-weight: 900;
  color: transparent;
  font-size: 100px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .text-wrapper-2 {
  position: absolute;
  top: 37px;
  left: 475px;
  font-family: "Anonymous Pro", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.home-page .text-wrapper-3 {
  position: absolute;
  top: 37px;
  left: 777px;
  font-family: "Anonymous Pro", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .text-wrapper-4 {
  position: absolute;
  top: 37px;
  left: 996px;
  font-family: "Anonymous Pro", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.home-page .text-wrapper-5 {
  position: absolute;
  top: 37px;
  left: 1194px;
  font-family: "Anonymous Pro", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .ellipse {
  position: absolute;
  width: 59px;
  height: 53px;
  top: 32px;
  left: 368px;
  background-color: #ffffff;
  border-radius: 29.58px/26.34px;
}

.home-page .text-wrapper-6 {
  position: absolute;
  width: 94px;
  top: 27px;
  left: 347px;
  transform: rotate(-4.59deg);
  font-family: "Flavors", Helvetica;
  font-weight: 400;
  color: #110039;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-7 {
  top: 30px;
  left: 348px;
  color: #110039;
  position: absolute;
  width: 94px;
  transform: rotate(-4.59deg);
  font-family: "Flavors", Helvetica;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-8 {
  top: 30px;
  left: 351px;
  color: #110039;
  position: absolute;
  width: 94px;
  transform: rotate(-4.59deg);
  font-family: "Flavors", Helvetica;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .rectangle-2 {
  position: absolute;
  width: 270px;
  height: 92px;
  top: 769px;
  left: 1059px;
  background-color: #ffffff;
  border-radius: 100px;
}

.home-page .text-wrapper-9 {
  position: absolute;
  width: 281px;
  top: 787px;
  left: 1059px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 700;
  color: #020e5d;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-page .rectangle-3 {
  position: absolute;
  width: 1744px;
  height: 1169px;
  top: 1130px;
  left: 296px;
  background: linear-gradient(180deg, rgb(0, 15, 98) 0%, rgb(0, 0, 0) 40.1%, rgb(0, 0, 0) 100%);
}

.home-page .text-wrapper-10 {
  position: absolute;
  top: 2077px;
  left: 1092px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-page .text-wrapper-11 {
  position: absolute;
  top: 2120px;
  left: 1092px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-page .text-wrapper-12 {
  position: absolute;
  top: 2077px;
  left: 1471px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-13 {
  position: absolute;
  top: 2120px;
  left: 1471px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-14 {
  position: absolute;
  top: 2163px;
  left: 1092px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-page .text-wrapper-15 {
  position: absolute;
  top: 2206px;
  left: 1092px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-page .ellipse-2 {
  position: absolute;
  width: 769px;
  height: 769px;
  top: 891px;
  left: 394px;
  background-color: #006effb2;
  border-radius: 384.5px;
  filter: blur(500px);
}

.home-page .ellipse-3 {
  position: absolute;
  width: 724px;
  height: 724px;
  top: 1209px;
  left: 1403px;
  background-color: #7bb4ffb2;
  border-radius: 362px;
  filter: blur(500px);
}

.home-page .rectangle-4 {
  position: absolute;
  width: 911px;
  height: 357px;
  top: 1013px;
  left: 394px;
  background-color: #ffffff;
  border-radius: 50px;
}

.home-page .rectangle-5 {
  position: absolute;
  width: 1215px;
  height: 372px;
  top: 1457px;
  left: 757px;
  background-color: #ffffff;
  border-radius: 50px;
}

.home-page .p {
  position: absolute;
  width: 822px;
  top: 1047px;
  left: 459px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-16 {
  position: absolute;
  width: 1121px;
  top: 1500px;
  left: 823px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .metallic-liquid-wave {
  position: absolute;
  width: 770px;
  height: 761px;
  top: 1323px;
  left: 134px;
  overflow: hidden;
  transform: rotate(-151.9deg);
}

.home-page .image {
  position: absolute;
  width: 607px;
  height: 775px;
  top: 33px;
  left: 6px;
  transform: rotate(151.9deg);
  object-fit: cover;
}

.home-page .image-wrapper {
  position: absolute;
  width: 972px;
  height: 835px;
  top: 769px;
  left: 1155px;
}

.home-page .img {
  position: absolute;
  width: 729px;
  height: 626px;
  top: 104px;
  left: 122px;
  object-fit: cover;
}

.home-page .rectangle-6 {
  position: absolute;
  width: 840px;
  height: 510px;
  top: 991px;
  left: 1210px;
  object-fit: cover;
}

.home-page .rectangle-7 {
  position: absolute;
  width: 411px;
  height: 545px;
  top: 1370px;
  left: 333px;
  object-fit: cover;
}

.home-page .ellipse-4 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 2036px;
  left: 357px;
  background-color: #ffffff;
  border-radius: 30.09px/30px;
}

.home-page .text-wrapper-17 {
  top: 2029px;
  left: 336px;
  color: #000000;
  position: absolute;
  width: 94px;
  transform: rotate(-4.59deg);
  font-family: "Flavors", Helvetica;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-18 {
  top: 2032px;
  left: 337px;
  color: #000000;
  position: absolute;
  width: 94px;
  transform: rotate(-4.59deg);
  font-family: "Flavors", Helvetica;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-19 {
  top: 2032px;
  left: 340px;
  color: #000000;
  position: absolute;
  width: 94px;
  transform: rotate(-4.59deg);
  font-family: "Flavors", Helvetica;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-20 {
  position: absolute;
  top: 1959px;
  left: 433px;
  font-family: "NATS-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 100px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-21 {
  position: absolute;
  top: 2099px;
  left: 376px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 700;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-22 {
  position: absolute;
  top: 2034px;
  left: 1092px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-23 {
  position: absolute;
  top: 2034px;
  left: 1471px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-24 {
  position: absolute;
  top: 2034px;
  left: 1799px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-25 {
  position: absolute;
  top: 2167px;
  left: 1471px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-page .text-wrapper-26 {
  position: absolute;
  top: 2077px;
  left: 1799px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-page .text-wrapper-27 {
  position: absolute;
  top: 2124px;
  left: 1799px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .copyright {
  position: absolute;
  width: 558px;
  top: 2140px;
  left: 419px;
  font-family: "IBM Plex Mono", Helvetica;
  font-weight: 700;
  color: #ffffff80;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
